<div id="error-banner" class="auth-error"></div>
<div class="container-card auth-card" id="auth-card">
    <div class="card-content" id="auth-card-content">
        <div class="auth-header">
            <h2>Reset password</h2>
            <p>Enter a new password for your Bourbon Warfare account.</p>
        </div>

        <form method="POST" hx-post="/api/v1/user/recover/reset" hx-target="#error-banner" hx-trigger="submit"
            class="auth-form" autocomplete="on">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
            <input type="hidden" name="token" value="{{ token }}" />
            <div class="form-group">
                <label for="password">New password</label>
                <input type="password" name="password" id="password" autocomplete="new-password" autocapitalize="off"
                    required />
            </div>
            <button type="submit" class="btn-primary">Reset Password</button>
        </form>
    </div>
</div>
