<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@4.0.0-beta6"
        integrity="sha384-6lyVbhrs13b9z7mLOpt/N6R76rtkEBWgCjAXRs/DSWyi2AMnQSs10ijWk+PI8n7W"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@4.0.0-beta6/dist/ext/hx-browser-indicator.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@4.0.0-beta6/dist/ext/hx-preload.js"></script>
</head>

<body hx-ext="preload, browser-indicator">
    <!-- The top bar for the website -->
    <header>
        <nav class="navbar" hx-target:inherited="#view" hx-push-url:inherited="true" hx-preload:inherited="mouseenter"
            hx-browser-indicator:inherited="true">
            <ul class="nav-links">
                <li><a href="/" hx-get="/">Home</a></li>
                <li><a href="/missions" hx-get="/missions">Missions</a></li>
            </ul>
        </nav>
    </header>
    <!-- The body of page the website. This gets filled out server-side -->
    <div id="view">
        {{ inner_html|safe }}
    </div>
</body>

</html>