<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@4.0.0-beta6"
        integrity="sha384-6lyVbhrs13b9z7mLOpt/N6R76rtkEBWgCjAXRs/DSWyi2AMnQSs10ijWk+PI8n7W"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@4.0.0-beta6/dist/ext/hx-browser-indicator.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@4.0.0-beta6/dist/ext/hx-preload.js"></script>
</head>

<body>
    <!-- The top bar for the website -->
    <header>
        <nav class="navbar">
            <ul class="nav-links">
                <li><a href="/" hx-get="/" hx-target="#view" hx-select="#view" hx-push-url="true"
                        hx-preload="mouseenter" hx-browser-indicator="true">Home</a></li>
                <li><a href="/missions" hx-get="/missions" hx-target="#view" hx-select="#view" hx-push-url="true"
                        hx-preload="mouseenter" hx-browser-indicator="true">Missions</a></li>
            </ul>
            <div class="nav-profile">
                {% if logged_in %}
                <a href="/profile" hx-get="/profile" hx-target="#view" hx-select="#view" hx-push-url="true"
                    hx-preload="mouseenter" hx-browser-indicator="true">Profile</a>
                {% else %}
                <a href="/auth/register" hx-get="/auth/register" hx-target="#view" hx-select="#view" hx-push-url="true"
                    hx-preload="mouseenter" hx-browser-indicator="true">Register</a>
                <a href="/auth/login" hx-get="/auth/login" hx-target="#view" hx-select="#view" hx-push-url="true"
                    hx-preload="mouseenter" hx-browser-indicator="true">Login</a>
                {% endif %}
            </div>
        </nav>
    </header>
    <!-- The body of page the website. This gets filled out server-side -->
    <div id="view">
        {{ inner_html|safe }}
    </div>
</body>

</html>